[Unit]
Description=prometheus serivce
Wants=network-online.target
After=netwrok-online.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/prometheus --config.file /root/prometheus-2.38.0.linux-amd64/prometheus.yml
Restart=always
ExecStop=/usr/local/bin/prometheus --config.file /root/prometheus-2.38.0.linux-amd64/prometheus.yml
Type=simple

[Install]
WantedBy=multi-user.target